In [4]:
# import the pandas library and use the alias 'pd'
import pandas as pd

In [5]:
# create the s1 series from the list: [10,20,30,40,50]
s1 = pd.Series([10,20,30,40,50])

# additional practice
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")
s_tuple= ("apple", "banana", "cherry")
s_tuple = pd.Series(s_tuple)

# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}
s_dictionary = {"brand": "Ford", "model": "Mustang", "year": 1964}
s_dictionary= pd.Series(s_dictionary)

In [6]:
# fill in the blank with the series values and index values
print("The s1 series values are:", s1.values)
print("The s1 index values are:", s1.index.values)
print("\n")
print("The s_tuple series values are:", s_tuple.values)
print("The s_tuple index values are:", s_tuple.index.values)
print("\n")
print("The s_dictionary series values are:", s_dictionary.values)
print("The s_dictionary index values are:", s_dictionary.index.values)

The s1 series values are: [10 20 30 40 50]
The s1 index values are: [0 1 2 3 4]


The s_tuple series values are: ['apple' 'banana' 'cherry']
The s_tuple index values are: [0 1 2]


The s_dictionary series values are: ['Ford' 'Mustang' 1964]
The s_dictionary index values are: ['brand' 'model' 'year']

In [19]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])

In [20]:
print ("The Marks obtained by Student are", s2)

The Marks obtained by Student are English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [21]:
# assign the s2 series name to be "Student Marks"

# assign the s2 index name to be "Subject"
s2.name='Student Marks'
s2.index.name='Subject'

In [22]:
# print the s2 series again to see the newly assigned name and index name
print("The Marks obtained by student- subjectwise:\n", s2)

The Marks obtained by student- subjectwise:
 Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [11]:
# return the first element in the s2 series
s2[0]

80

In [12]:
# slicing using default integer index
# return the elements starting at position one and ending with the element at index 3
s1[1:4]

1    20
2    30
3    40
dtype: int64

In [13]:
# Slicing using string index
# return the element associated with the index 'Tamil'
s2['Tamil']

85

In [14]:
#Creating a Series from a Dictionary
#•	A Python dictionary is a data structure which maps keys to a set of values.
#•	A dictionary contains key-value pairs.
#•	A series is similar to a dictionary in a way that it maps given indexes to a set of values.
#Let's see how to create a series from a dictionary
#I have a dictionary that represents fruits and prices. Let's create a series from this dictionary#

In [15]:
# create a dictionary of fruit names and their prices. Use the values from the article
dict_fruits= { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [16]:
# Lets convert this dictionary into a series
# use the pandas method .Series() 
fruits = pd.Series(dict_fruits)

In [17]:
# print the series
print("Fruits and prices\n", fruits)

Fruits and prices
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [40]:
# Slice the series and retrieve price of grapes
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [58]:
# create a dataframe from the s2 series
df_marks = pd.DataFrame(s2)

In [59]:
# print the dataframe
print("The dataframe created from series is\n",df_marks)

The dataframe created from series is
          Student Marks
Subject
English             80
Science             93
Social              78
Tamil               85
Maths               97

In [30]:
# Create height series using [5.3, 6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])


# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [48]:
# Create a dataframe from the height and weight series above
df_Person = pd.DataFrame({'height': height, 'weight': weight})
# print the dataframe
print("The Person table details are:\n", df_Person)

The Person table details are:
           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59